<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <input type="checkbox" formControlName="selectall" id="selectall" />
    <label for="selectall">Select All</label>
  </div>

  <ul formGroupName="options">
    <li *ngFor="let item of itemlist">
      <input type="checkbox" [formControlName]="item" [id]="item" />
      <label [for]="item">{{ item }}</label>
    </li>
  </ul>

  <button type="submit">Submit</button>
</form>

<hr />

<h2>Selected Values</h2>
<ul>
  <li *ngFor="let item of selected">{{ item }}</li>
</ul>
