<input type="text" [(ngModel)]="name" /> select component

<!-- <div [ngSwitch]="name">
  <div *ngSwitchCase="'todolist'">
    <app-todo></app-todo>
  </div>
  <div *ngSwitchCase="'booklist'">
    <app-booklist></app-booklist>
  </div>
  <div *ngSwitchCase="'directive'">
    <app-directive />
  </div>
  <div *ngSwitchCase="'pipe'">
    <app-pipe />
  </div>
</div> -->

@switch (name) { @case ('todolist') {
<app-todo></app-todo>
} @case ('booklist') {
<app-booklist></app-booklist>
} @case ('directive') {
<app-directive />
} }
