<!-- <h1>{{ todos[0].completed }}</h1>
<button [ngStyle]="{ color: todos[0].completed ? 'red' : 'blue' }">
  Completed
</button>

<button (click)="toggle()">Toggle Completed</button>

<hr />
<div>
  <input [(ngModel)]="context" />
</div>
<h2>{{ context }}</h2> -->
<button *ngIf="isDisable">Button</button>
<button (click)="toggle()">Toggle</button>
<input type="text" [(ngModel)]="name" />
<h1>{{ name }}</h1>
<ul>
  <app-todo-item
    *ngFor="let item of todos$ | async"
    [item]="item"
    (emitter)="delectTodo($event)"
  ></app-todo-item>

  <!-- <li *ngFor="let item of todos$ | async">{{ item }}</li> -->
</ul>
